extends layout

block content
  div#fps
  div#gameId
  div#clientId
  center
    canvas#terrainCanvas
    canvas#unitCanvas
    canvas#fogCanvas
    canvas#selectionCanvas
    canvas#menuCanvas

block scripts
  link(rel='stylesheet', href='/css/game.css')
  script(src='/vendor/jquery/jquery-2.1.0.min.js')
  //script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/game.js')
  script(src='http://cdn.peerjs.com/0.3/peer.js')

  script.
    $(document).ready(function () {
      var id = '#{id.split('_').join('').split(' - ').join('')}';
      var enemyId = '#{enemyId.split('_').join('').split(' - ').join('')}';
      var host = #{host };
      var gameId = '#{gameId}';
      var mapId = '#{mapId}';
      if (host) {
        var c = new HostGameRunner(id, enemyId, gameId, mapId);
      } else {
        var c = new ClientGameRunner(id, enemyId, gameId, mapId);
      }
    });